@using Microsoft.AspNetCore.Mvc.Localization;
@using Vote_Application_JonathanMutala.ViewModel;
@inject IViewLocalizer _localizer;


<div class="container-create">
   
    <div class="container">
        <div>
            <h1>@_localizer["CreateTitle"] </h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <input class="form-control" aria-required="true" />
                    <label class="form-label">@_localizer["Name"]</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <input type="datetime-local" class="form-control" aria-required="true" />
                    <label class="form-label">@_localizer["StartDate"]</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <input type="datetime-local" class="form-control" aria-required="true" />
                    <label class="form-label">@_localizer["EndDate"]</label>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-lg-4" style="margin-bottom:15px;">
                
                    <select class="form-select" id="country" name="country" style="height:100%;">
                       
                        @foreach (var country in ViewBag.Countries)
                        {
                            <option value="@country.Code">@country.Name</option>
                        }
                    </select>                  
            </div>
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <input class="form-control" aria-required="true" />
                    <label class="form-label">@_localizer["City"]</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <input class="form-control" aria-required="true" />
                    <label class="form-label">@_localizer["Region"]</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-floating mb-2">
                    <textarea class="form-control" aria-required="true"></textarea>
                    <label class="form-label">@_localizer["Description"]</label>
                </div>
            </div>
           
        </div>
        
    </div>
</div>
<style>
   /*  .container-create{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    } */
</style>
